* {
    box-sizing: border-box;
}
body {
margin: 0px;
font-family: sans-serif;
}
#grid-layout {
    display: grid;
    grid-template-columns: 250px 1fr ;
grid-template-areas: "header header"
"sidebar content";
}
#header {
    padding: 0px 36px;
    grid-area: header;
}
#header a {
    text-decoration: none;
}
#header #tube {
    color: white;
    background-color:blue;
    padding: 4px;
    border-radius: 12px;
}
#header #blue {
    color: black;
    
}
#sidebar {
    background-color:lightskyblue;
    grid-area: sidebar;
}
#sidebar ul {
    list-style-type: none;
    padding: 12px 0px;
    margin: 0px;
    border-bottom: 1px solid black;
    }
    #sidebar ul a {
        list-style-type: none;
        color: black;
        display: block;
        padding: 12px;
        }
        #sidebar ul a:hover {
            background-color: blue;
            border-radius: 12px;
                }
                #main {
  
                    grid-area: content;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                 
                }
                .bluetube-item .video-channel {
                    margin-bottom: 4px;
                }
            
                .bluetube-item .thumbnail-placeholder {
                    aspect-ratio: 16 / 9;
                    background-image: url(../images/leon-youtube-video.png);
                    background-size: cover;
                    border-radius: 8px;
                }
                #m2 .thumbnail-placeholder {
                    aspect-ratio: 16 / 9;
                    background-image: url(../images/leon-youtube-thumbnail.png);
                    background-size: cover;
                    border-radius: 8px;
                }
                #m3 .thumbnail-placeholder {
                    aspect-ratio: 16 / 9;
                    background-image: url(../images/leon_netflix_resident_evil_4k_hd_resident_evil.jpg);
                    background-size: cover;
                    border-radius: 8px;
                }
                #m4 .thumbnail-placeholder {
                    aspect-ratio: 16 / 9;
                    background-image: url(../images/leon-edits.png);
                    background-size: cover;
                    border-radius: 8px;
                }
                #m5 .thumbnail-placeholder {
                    aspect-ratio: 16 / 9;
                    background-image: url(../images/leon-thumbnail.png);
                    background-size: cover;
                    border-radius: 8px;
                }