/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
.card-style-3 {
    max-width: 350px;
    margin: 48px;
    border: 15px solid rgb(255, 207, 85);
    background-color: yellow;
    border-radius: 14px;
}

.card-style-3 img {
    width: 90%;
    border: 5px solid rgb(223, 167, 25);
}

.pokemon-header{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    
}
.card-style-3,.pokemon-header {
    align-items: stretch;
}

.card-style-3 {
    padding: 24px;
    min-height: 100vh;
}

.card-style-3 {
    background-size: cover;
    background-position: center center;
}

.details {
    border: 1px solid rgb(223, 167, 25);
    background-color:  rgb(223, 167, 25);
    font-size: smaller;
    font-weight: bold;
    text-align: center;
}
.description,.data{
    text-align: center;
    margin: 10px;
}
.power {
    display: flex;

}
.card-style-3 i {
    background: radial-gradient(white 40%, #333333);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 3px;
    font-size: 14px;
}