* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    
}
#grid-layout {
    display: grid;
    
    
}
#main-content {
    margin: 0px 36px;
    grid-area: content;
}
#sidebar-content {
   
   border: 1px solid black;
   background-color:hotpink;
   margin: 0px;

}
#sidebar-content ul {
background-color: lightblue;

}
#sidebar-content h2 {
    background-color: white;
    margin:0px;
    padding: 12px;
    font-size: 20px;
    font-variant: small-caps;
}
#sidebar-content a {
    color: darkred;
    text-decoration: none;
}
#sidebar-content li {
    border-bottom: 1px solid palevioletred ;
    padding: 8px 0px;
}
#sidebar-content li:last-child {
    border-bottom: 0px
}
#image-1 {
border-radius: 12px;
padding: 8%;

}
