* {
    box-sizing: border-box;
}

body {
margin: 0px;
font-family: "Playfair Display", serif;
}

#navbar {
    background: rgb(124, 74, 13);
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    position: sticky;
    z-index: 2;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

a:hover  {
    background-color: goldenrod;
}

#navbar #logo {
    margin-right: auto;
}

#navbar .cta-button {
    background-color: goldenrod;
    color: black;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}
@media  screen and (max-width=200px) and (min-width=300px) {
    #layout {
        width: 800px;
        margin: 48px auto;
        font-size: 24px;
        height: 200vh;
    }
    
}

#layout {
    text-align: center ;

}

#header {
    position: sticky;
    top: 0px;
    z-index: 1;
}

#logo {
    font-weight: bold;
    font-size: 30px;
}

#hero-1 {
    background-image: url(../images/laos-dishes.jpg);
    height: 80vh;
    background-size: cover; 
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-1 .hero-content {
    text-align: center;
    color: white;
    padding-top: 20vh;
}

#hero-1 a {
    font-size: 3vw;
    display: inline-block;
    background-color: goldenrod;
    color: white;
    text-decoration: none;
    padding: 25px;
    margin: 5vh 5vw 10vh 0p
 }

 #header {
    text-align: center;
 }

 #grid {
    flex: 700px;
    border: 3px solid black;
    margin: 40px;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    background-color: goldenrod;
    
 }

 #hiring a {
    text-decoration: none;
    background-color:goldenrod;
    color: black;
    border-radius: 36px;
    padding: 7px 20px;
    font-size: 19px;
    font-weight: bold;
    min-width: 90px;
    text-align: center;
    margin-left: 24px;
 }

 #hiring:hover a {
    background-color: gold;
 }

 #menu {
    flex: 600px;
    border: 3px solid black;
    margin: 150px;
    padding: 50px;
    border-radius: 12px;
    text-align: center;
    background-color: goldenrod;
 }

 #menu a {
    font-size: 3vw;
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 25px;
    margin: 5vh 5vw 10vh 0p
 }

 #menu:hover a {
background-color:  rgb(124, 74, 13);
 }

 #footer {
    background: rgb(124, 74, 13);
    display: flex;
    align-items: center;
    position: sticky;
    box-sizing: border-box;
    padding: 17px;

 }

