#sp{
    font-family: Helvetica;
text-align: center;
}
#spc-1{
    background-color: rgb(147, 54, 234) ;
    font-family: Verdana;
    text-align: center;
}
#spc-2{
    background-color: rgb(213, 245, 255);
    font-family: Tahoma;
    text-align: center;

}
#spc-3{
background-color: rgb(15, 171, 171);
    font-family: Georgia;
    text-align: center;
    

}