* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Anta", sans-serif;
}
@media screen and (max-width=90px) and (min-width=100) {
#single-column-layout {
    text-align: center;
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;

}
}

#single-column-layout a{
    background-color: rgb(44, 44, 125);
    color: white;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    text-decoration: none;
}

#single-column-layout:hover a {
    background-color: rgb(233, 4, 4);
}


